<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

    <div style="font-size: 24px;">
    <i class="icon-camera-retro"></i> icon-camera-retro
    </div>
    <p>
    <%= image_tag "anchor.png" %>
    </p>