  <div class="row">
    <p>This information is based on Australian and New Zealand Standard Industrial Classification (ANZSIC), 2006 (Revision 1.0).  You should always verify that this is the latest information at the Australian Bureau of Statistics.<p>
  </div>
  
  <div class="row">
    <p>Select a division or search for an industry classification.</p>
    <h2 class="menu_division">Divisions</h2>
    <% @divisions.each do |division| %>
      <p class="menu"><%= link_to division.code+": "+division.description, division_path(division) %></p>
    <% end %>  
  </div>



