

.brand:hover{
    background-color: transparent;  
}

.centre{
    text-align:center;
}


body{
    background: url("../assets/graph-tile.png") repeat scroll center top transparent;    
}

h4, h5{
    margin-bottom: 9px;
}

a.menu{
    text-decoration: underline;
}
